<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <li><strong> User Name: </strong>{{user.username}}</li>
    <li><strong> User Email: </strong>{{user.email}}</li>
    <li><strong> Frist Name: </strong>{{data.first_name}}</li>
    <li><strong> Last Name: </strong>{{data.last_name}}</li>
    <li><strong> User Type: </strong>{{data.user_type}}</li>
    <li><strong> User Address: </strong>{{data.address}}</li>
    <li><strong> Joined Date: </strong>{{data.join_date}}</li>
</body>
</html>